---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
---

<BaseLayout>
  <!-- hero -->
  <section class="flex flex-col gap-y-2">
    <h1 class="text-3xl">hey there!</h1>
    <p class="text-sm">this site is under construction</p>
    <p class="mt-4 text-sm">
      see the repo for my old portfolio website
      <a
        href="https://github.com/joshuatighe/joshuatighe.dev-old"
        target="_blank"
        class="text-gruvbox-aqua-bright hover:text-gruvbox-aqua-dim"
      >
        here
      </a>
    </p>
  </section>

  <!-- recent blog posts -->
  <section></section>

  <!-- about -->
  <section></section>
</BaseLayout>
