---
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>joshuatighe.dev</title>
  </head>
  <body
    class="bg-gruvbox-bg text-gruvbox-fg0 flex min-h-dvh flex-col font-mono"
  >
    <!-- nav -->
    <Navigation />

    <!-- main -->
    <main class="flex-1 pt-6">
      <div class="mx-auto max-w-2xl px-4">
        <slot />
      </div>
    </main>

    <!-- footer -->
    <Footer />
  </body>
</html>
